<section class="content-header">
    <h1>
        Sharing Center
        <small>folders</small>
    </h1>
</section>
<section class="content">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li><a ui-sref="backend.sharedFolders">I've shared</a></li>
            <li class="active"><a ui-sref="backend.sharedFoldersMe">Shared with me</a></li>
        </ul>
        <div class="tab-content">
            <div ng-show="loading && !folders.length">
                Loading...
            </div>
            <div ng-show="!loading && !folders.length">
                No shared folders.
            </div>
            <div class="table-responsive" ng-show="folders.length">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th style="width: 75px; min-width: 75px;"></th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="folder in folders">
                            <td>
                                <button type="button" ng-click="revoke(folder)" class="btn btn-link btn-table"
                                        uib-tooltip="Revoke Access">
                                    <i class="fa fa-lg fa-close"></i>
                                </button>
                                <button type="button" ng-click="edit(folder)" class="btn btn-link btn-table"
                                        uib-tooltip="View/Edit">
                                    <i class="fa fa-lg fa-pencil"></i>
                                </button>
                            </td>
                            <td>{{folder.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
