.vs
.idea
.DS_Store
node_modules
npm-debug.log
vwd.webinfo
css/
dist/
*.pem
*.crx
*.zip
*.swp
build/
!dev-server.shared.pem
config/local.json

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
