@import "../common/styles.scss";

.justify-content-md-center {
  justify-content: center !important;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}

.mt-5,
.my-5 {
  margin-top: 3rem !important;
}

.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}

.ml-4,
.mx-4 {
  margin-left: 1.5rem !important;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}

.mr-4,
.mx-4 {
  margin-right: 1.5rem !important;
}

.lead {
  font-size: 1.25rem;
  font-weight: normal;
}

.text-center {
  text-align: center !important;
}
