<div class="modal-header">
    <button type="button" class="close" ng-click="close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="editFolderModelLabel">
        <i class="fa fa-user-plus"></i> Share Login <small>{{login.name}}</small>
    </h4>
</div>
<form name="enableForm" ng-submit="enableForm.$valid && enable()" api-form="savePromise" ng-if="!login.key">
    <div class="modal-body">
        <div class="callout callout-danger validation-errors" ng-show="enableForm.$errors">
            <h4>Errors have occured</h4>
            <ul>
                <li ng-repeat="e in enableForm.$errors">{{e}}</li>
            </ul>
        </div>
        Sharing is not enabled.
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-flat" ng-disabled="enableForm.$loading">
            <i class="fa fa-refresh fa-spin loading-icon" ng-show="enableForm.$loading"></i>Enable Sharing
        </button>
        <button type="button" class="btn btn-default btn-flat" ng-click="close()">Close</button>
    </div>
</form>
<form name="shareForm" ng-submit="shareForm.$valid && share()" api-form="savePromise" ng-if="login.key">
    <div class="modal-body">
        <div class="callout callout-danger validation-errors" ng-show="shareForm.$errors">
            <h4>Errors have occured</h4>
            <ul>
                <li ng-repeat="e in shareForm.$errors">{{e}}</li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group" show-errors>
                    <label for="email">Recipient Email address</label> <span>*</span>
                    <input type="email" id="email" name="Email" ng-model="share.email" class="form-control"
                           placeholder="bob@example.com" required api-field />
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="share.readonly" name="Edit" />
                        Recipient can edit?
                    </label>
                </div>
            </div>
            <div class="col-md-6">

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-flat" ng-disabled="shareForm.$loading">
            <i class="fa fa-refresh fa-spin loading-icon" ng-show="shareForm.$loading"></i>Share
        </button>
        <button type="button" class="btn btn-default btn-flat" ng-click="close()">Close</button>
    </div>
</form>