<div class="modal-header">
    <button type="button" class="close" ng-click="close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="editFolderModelLabel">
        <i class="fa fa-user-plus"></i>
        <span ng-if="!cipher.isFolder">Share Login</span>
        <span ng-if="cipher.isFolder">Share Folder</span>
        <small>{{cipher.name}}</small>
    </h4>
</div>
<form name="shareForm" ng-submit="shareForm.$valid && save(folder)" api-form="savePromise">
    <div class="modal-body">
        <div class="callout callout-danger validation-errors" ng-show="shareForm.$errors">
            <h4>Errors have occured</h4>
            <ul>
                <li ng-repeat="e in shareForm.$errors">{{e}}</li>
            </ul>
        </div>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-flat" ng-disabled="shareForm.$loading">
            <i class="fa fa-refresh fa-spin loading-icon" ng-show="shareForm.$loading"></i>Share
        </button>
        <button type="button" class="btn btn-default btn-flat" ng-click="close()">Close</button>
    </div>
</form>