<ng-container *ngIf="isPaging() ? pagedCiphers : ciphers as filteredCiphers">
  <table
    class="table table-hover table-list table-ciphers"
    *ngIf="filteredCiphers.length"
    infiniteScroll
    [infiniteScrollDistance]="1"
    [infiniteScrollDisabled]="!isPaging()"
    (scrolled)="loadMore()"
  >
    <tbody>
      <tr *ngFor="let c of filteredCiphers; index as i">
        <td (click)="checkCipher(c)" class="table-list-checkbox">
          <input type="checkbox" [(ngModel)]="c.checked" appStopProp />
        </td>
        <td (click)="checkCipher(c)" class="table-list-icon">
          <app-vault-icon [cipher]="c"></app-vault-icon>
        </td>
        <td (click)="checkCipher(c)" class="reduced-lh wrap">
          <a
            href="#"
            appStopClick
            appStopProp
            (click)="selectCipher(c)"
            title="{{ 'editItem' | i18n }}"
            >{{ c.name }}</a
          >
          <ng-container *ngIf="!organization && c.organizationId">
            <i
              class="bwi bwi-collection"
              appStopProp
              title="{{ 'shared' | i18n }}"
              aria-hidden="true"
            ></i>
            <span class="sr-only">{{ "shared" | i18n }}</span>
          </ng-container>
          <ng-container *ngIf="c.hasAttachments">
            <i
              class="bwi bwi-paperclip"
              appStopProp
              title="{{ 'attachments' | i18n }}"
              aria-hidden="true"
            ></i>
            <span class="sr-only">{{ "attachments" | i18n }}</span>
            <ng-container *ngIf="showFixOldAttachments(c)">
              <i
                class="bwi bwi-exclamation-triangle text-warning"
                appStopProp
                title="{{ 'attachmentsNeedFix' | i18n }}"
                aria-hidden="true"
              ></i>
              <span class="sr-only">{{ "attachmentsNeedFix" | i18n }}</span>
            </ng-container>
          </ng-container>
          <br />
          <small appStopProp>{{ c.subTitle }}</small>
        </td>
        <td class="table-list-options">
          <app-table-row-option-menu [rowIndex]="i">
            <ng-container *ngIf="c.type === cipherType.Login && !c.isDeleted">
              <app-table-row-option
                bwIcon="bwi-clone"
                (onClick)="copy(c, c.login.username, 'username', 'Username')"
              >
                {{ "copyUsername" | i18n }}
              </app-table-row-option>
              <app-table-row-option
                bwIcon="bwi-clone"
                (onClick)="copy(c, c.login.password, 'password', 'Password')"
                *ngIf="c.viewPassword"
              >
                {{ "copyPassword" | i18n }}
              </app-table-row-option>
              <app-table-row-option
                bwIcon="bwi-clone"
                (onClick)="copy(c, c.login.totp, 'verificationCodeTotp', 'TOTP')"
                *ngIf="displayTotpCopyButton(c)"
              >
                {{ "copyVerificationCode" | i18n }}
              </app-table-row-option>
              <app-table-row-option
                bwIcon="bwi-share-square"
                *ngIf="c.login.canLaunch"
                (onClick)="launch(c.login.launchUri)"
              >
                {{ "launch" | i18n }}
              </app-table-row-option>
            </ng-container>
            <app-table-row-option (onClick)="attachments(c)" bwIcon="bwi-paperclip">
              {{ "attachments" | i18n }}
            </app-table-row-option>
            <app-table-row-option
              bwIcon="bwi-files"
              *ngIf="((!organization && !c.organizationId) || organization) && !c.isDeleted"
              (onClick)="clone(c)"
            >
              {{ "clone" | i18n }}
            </app-table-row-option>
            <app-table-row-option
              bwIcon="bwi-arrow-circle-right"
              *ngIf="!organization && !c.organizationId && !c.isDeleted"
              (onClick)="share(c)"
            >
              {{ "moveToOrganization" | i18n }}
            </app-table-row-option>
            <app-table-row-option
              bwIcon="bwi-collection"
              *ngIf="c.organizationId && !c.isDeleted"
              (onClick)="collections(c)"
            >
              {{ "collections" | i18n }}
            </app-table-row-option>
            <app-table-row-option
              bwIcon="bwi-file-text"
              *ngIf="c.organizationId && accessEvents"
              (onClick)="events(c)"
            >
              {{ "eventLogs" | i18n }}
            </app-table-row-option>
            <app-table-row-option bwIcon="bwi-undo" (onClick)="restore(c)" *ngIf="c.isDeleted">
              {{ "restore" | i18n }}
            </app-table-row-option>
            <app-table-row-option bwIcon="bwi-trash" class="text-danger" (onClick)="delete(c)">
              {{ (c.isDeleted ? "permanentlyDelete" : "delete") | i18n }}
            </app-table-row-option>
          </app-table-row-option-menu>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="no-items" *ngIf="!filteredCiphers.length">
    <ng-container *ngIf="!loaded">
      <i
        class="bwi bwi-spinner bwi-spin text-muted"
        title="{{ 'loading' | i18n }}"
        aria-hidden="true"
      ></i>
      <span class="sr-only">{{ "loading" | i18n }}</span>
    </ng-container>
    <ng-container *ngIf="loaded">
      <p>{{ "noItemsInList" | i18n }}</p>
      <button (click)="addCipher()" class="btn btn-outline-primary" *ngIf="showAddNew">
        <i class="bwi bwi-plus bwi-fw"></i>{{ "addItem" | i18n }}
      </button>
    </ng-container>
  </div>
</ng-container>
