<div class="page-header d-flex">
    <h1>{{'singleSignOn' | i18n}}</h1>
</div>

<ng-container *ngIf="loading">
    <i class="fa fa-spinner fa-spin text-muted" title="{{'loading' | i18n}}" aria-hidden="true"></i>
    <span class="sr-only">{{'loading' | i18n}}</span>
</ng-container>

<form #form (ngSubmit)="submit()" [formGroup]="ssoConfigForm" [appApiAction]="formPromise" *ngIf="!loading">
    <p>
        {{'ssoPolicyHelpStart' | i18n}}
        <a routerLink="../policies">{{'ssoPolicyHelpLink' | i18n}}</a>
        {{'ssoPolicyHelpEnd' | i18n}}
        <br>
        {{'ssoPolicyHelpKeyConnector' | i18n}}
    </p>
    
    <!-- Common -->
    <ng-container formGroupName="common">
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="enabled" aria-describedby="allowSsoDesc"
                    [formControl]="enabled" name="Enabled">
                <label class="form-check-label" for="enabled">{{'allowSso' | i18n}}</label>
            </div>
            <small id="allowSsoDesc" class="form-text text-muted">{{'allowSsoDesc' | i18n}}</small>
        </div>

        <div class="form-group">
            <label>{{'memberDecryptionOption' | i18n}}</label>
            <div class="form-check form-check-block">
                <input class="form-check-input" type="radio" id="memberDecryptionPass" [value]="false" 
                    formControlName="keyConnectorEnabled">
                <label class="form-check-label" for="memberDecryptionPass">
                    {{'masterPass' | i18n}}
                    <small>{{'memberDecryptionPassDesc' | i18n}}</small>
                </label>
            </div>
            <div class="form-check mt-2 form-check-block">
                <input class="form-check-input" type="radio" id="memberDecryptionKey" [value]="true" 
                    formControlName="keyConnectorEnabled" [attr.disabled]="!organization.useKeyConnector || null">
                <label class="form-check-label" for="memberDecryptionKey">
                    {{'keyConnector' | i18n}}
                    <a target="_blank" rel="noopener" appA11yTitle="{{'learnMore' | i18n}}"
                        href="https://bitwarden.com/help/article/about-key-connector/">
                        <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                    </a>
                    <small>{{'memberDecryptionKeyConnectorDesc' | i18n}}</small>
                </label>
            </div>
        </div>

        <!-- Key Connector -->
        <ng-container *ngIf="commonForm.get('keyConnectorEnabled').value">
            <app-callout type="warning" [useAlertRole]="true">
                {{'keyConnectorWarning' | i18n}}
            </app-callout>
        
            <div class="form-group">
                <label for="keyConnectorUrl">
                    {{'keyConnectorUrl' | i18n}}
                    <small class="text-muted form-text d-inline">({{'required' | i18n}})</small>
                </label>
                <div class="input-group">
                    <input class="form-control" formControlName="keyConnectorUrl" id="keyConnectorUrl"
                        aria-describedby="keyConnectorUrlDesc" (change)="haveTestedKeyConnector = false" 
                        appChangeStripSpaces appA11yInvalid>
                    <div class="input-group-append">
                        <button type="button" class="btn btn-outline-secondary" (click)="validateKeyConnectorUrl()"
                            [disabled]="!enableTestKeyConnector">
                            <i class="fa fa-spinner fa-spin" title="{{'loading' | i18n}}" aria-hidden="true"
                                *ngIf="keyConnectorUrl.pending"></i>
                            <span *ngIf="!keyConnectorUrl.pending">
                                {{'keyConnectorTest' | i18n}}
                            </span>
                        </button>
                    </div>
                </div>
                <div *ngIf="haveTestedKeyConnector" id="keyConnectorUrlDesc" aria-live="polite">
                    <small class="error-inline" *ngIf="keyConnectorUrl.hasError('invalidUrl') else keyConnectorSuccess">
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                        {{'keyConnectorTestFail' | i18n}}
                    </small>
                    <small #keyConnectorSuccess class="text-success">
                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                        {{'keyConnectorTestSuccess' | i18n}}
                    </small>
                </div>
            </div>
        </ng-container>

        <div class="form-group">
            <label for="type">{{'type' | i18n}}
            <small class="text-muted form-text d-inline">({{'required' | i18n}})</small>
            </label>
            <select class="form-control" id="type" formControlName="configType">
                <option [ngValue]="0" disabled>{{'selectType' | i18n}}</option>
                <option *ngFor="let o of ssoTypeOptions" [ngValue]="o.value">{{o.name}}</option>
            </select>
        </div>
    </ng-container>

    <!-- OIDC -->
    <app-org-manage-sso-openId *ngIf="commonForm.get('configType').value === ssoType.OpenIdConnect"
        [openIdForm]="openIdForm" [callbackPath]="ssoUrls.callbackPath" 
        [signedOutCallbackPath]="ssoUrls.signedOutCallbackPath">
    </app-org-manage-sso-openId>

    <!-- SAML2 SP -->
    <app-org-manage-sso-saml *ngIf="commonForm.get('configType').value === ssoType.Saml2"
        [samlForm]="samlForm" [spEntityId]="ssoUrls.spEntityId" [spMetadataUrl]="ssoUrls.spMetadataUrl" 
        [spAcsUrl]="ssoUrls.spAcsUrl">
    </app-org-manage-sso-saml>

    <button type="submit" class="btn btn-primary btn-submit" [disabled]="form.loading">
        <i class="fa fa-spinner fa-spin" title="{{'loading' | i18n}}" aria-hidden="true"></i>
        <span>{{'save' | i18n}}</span>
    </button>
    <div class="error-summary text-danger" *ngIf="this.getErrorCount(ssoConfigForm) as errorCount" role="alert">
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
        {{ (errorCount === 1 ? 'formErrorSummarySingle' : 'formErrorSummaryPlural') | i18n: errorCount }}
    </div>
</form>
