<div class="page-header d-flex">
    <h1>{{'singleSignOn' | i18n}}</h1>
</div>

<ng-container *ngIf="loading">
    <i class="fa fa-spinner fa-spin text-muted" title="{{'loading' | i18n}}" aria-hidden="true"></i>
    <span class="sr-only">{{'loading' | i18n}}</span>
</ng-container>

<form #form (ngSubmit)="submit()" [formGroup]="ssoConfigForm" [appApiAction]="formPromise" *ngIf="!loading">
    <p>
        {{'ssoPolicyHelpStart' | i18n}}
        <a routerLink="../policies">{{'ssoPolicyHelpLink' | i18n}}</a>
        {{'ssoPolicyHelpEnd' | i18n}}
        <br>
        {{'ssoPolicyHelpKeyConnector' | i18n}}
    </p>
    
    <!-- Common -->
    <ng-container formGroupName="common">
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="enabled" [formControl]="enabled" name="Enabled">
                <label class="form-check-label" for="enabled">{{'allowSso' | i18n}}</label>
            </div>
            <small class="form-text text-muted">{{'allowSsoDesc' | i18n}}</small>
        </div>

        <div class="form-group">
            <label>{{'memberDecryptionOption' | i18n}}</label>
            <div class="form-check form-check-block">
                <input class="form-check-input" type="radio" id="memberDecryptionPass" [value]="false" formControlName="keyConnectorEnabled">
                <label class="form-check-label" for="memberDecryptionPass">
                    {{'masterPass' | i18n}}
                    <small>{{'memberDecryptionPassDesc' | i18n}}</small>
                </label>
            </div>
            <div class="form-check mt-2 form-check-block">
                <input class="form-check-input" type="radio" id="memberDecryptionKey" [value]="true" formControlName="keyConnectorEnabled"
                    [attr.disabled]="!organization.useKeyConnector || null">
                <label class="form-check-label" for="memberDecryptionKey">
                    {{'keyConnector' | i18n}}
                    <a target="_blank" rel="noopener" appA11yTitle="{{'learnMore' | i18n}}"
                        href="https://bitwarden.com/help/article/about-key-connector/">
                        <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                    </a>
                    <small>{{'memberDecryptionKeyConnectorDesc' | i18n}}</small>
                </label>
            </div>
        </div>

        <ng-container *ngIf="commonData.value.keyConnectorEnabled">
            <app-callout type="warning" [useAlertRole]="true">
                {{'keyConnectorWarning' | i18n}}
            </app-callout>
        
            <div class="form-group">
                <label for="keyConnectorUrl">
                    {{'keyConnectorUrl' | i18n}}
                    <small class="text-muted form-text d-inline">({{'required' | i18n}})</small>
                </label>
                <div class="input-group">
                    <input class="form-control" formControlName="keyConnectorUrl" id="keyConnectorUrl" required>
                    <div class="input-group-append">
                        <button type="button" class="btn btn-outline-secondary" (click)="validateKeyConnectorUrl()"
                            [disabled]="!enableTestKeyConnector">
                            <i class="fa fa-spinner fa-spin" title="{{'loading' | i18n}}" aria-hidden="true"
                                *ngIf="keyConnectorUrl.pending"></i>
                            <span *ngIf="!keyConnectorUrl.pending">
                                {{'keyConnectorTest' | i18n}}
                            </span>
                        </button>
                    </div>
                </div>
                <ng-container *ngIf="keyConnectorUrl.pristine && !keyConnectorUrl.pending">
                    <div class="text-danger" *ngIf="keyConnectorUrl.hasError('invalidUrl')" role="alert">
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                        {{'keyConnectorTestFail' | i18n}}
                    </div>
                    <div class="text-success" *ngIf="!keyConnectorUrl.hasError('invalidUrl')" role="alert">
                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                        {{'keyConnectorTestSuccess' | i18n}}
                    </div>
                </ng-container>
            </div>
        </ng-container>

        <div class="form-group">
            <label for="type">{{'type' | i18n}}
            <small class="text-muted form-text d-inline">({{'required' | i18n}})</small>
            </label>
            <select class="form-control" id="type" formControlName="configType">
                <option [ngValue]="0" disabled>{{'selectType' | i18n}}</option>
                <option *ngFor="let o of ssoTypeOptions" [ngValue]="o.value">{{o.name}}</option>
            </select>
        </div>
    </ng-container>


    <!-- OIDC -->
    <div *ngIf="commonData.value.configType === ssoType.OpenIdConnect" formGroupName="openId">
        <div class="config-section">
            <h2>{{'openIdConnectConfig' | i18n}}</h2>
            <div class="form-group">
                <label>{{'callbackPath' | i18n}}</label>
                <div class="input-group">
                    <input class="form-control" readonly [value]="callbackPath">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-outline-secondary"
                            appA11yTitle="{{'copyValue' | i18n}}"
                            (click)="copy(callbackPath)">
                            <i class="fa fa-lg fa-clone" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>{{'signedOutCallbackPath' | i18n}}</label>
                <div class="input-group">
                    <input class="form-control" readonly [value]="signedOutCallbackPath">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-outline-secondary"
                            appA11yTitle="{{'copyValue' | i18n}}"
                            (click)="copy(signedOutCallbackPath)">
                            <i class="fa fa-lg fa-clone" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="authority">
                    {{'authority' | i18n}}
                    <small class="text-muted form-text d-inline">({{'required' | i18n}})</small>
                </label>
                <input class="form-control" formControlName="authority" id="authority" appChangeClearErrors>
                <div class="text-danger" *ngIf="openIdData.get('authority').hasError('required')" role="alert">
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                    {{'fieldRequiredError' | i18n:('authority' | i18n ) }}
                </div>
            </div>
            <div class="form-group">
                <label for="clientId">
                    {{'clientId' | i18n}}
                    <small class="text-muted form-text d-inline">({{'required' | i18n}})</small>
                </label>
                <input class="form-control" formControlName="clientId" id="clientId" appChangeClearErrors>
                <div class="text-danger" *ngIf="openIdData.get('clientId').hasError('required')" role="alert">
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                    {{'fieldRequiredError' | i18n:('clientId' | i18n) }}
                </div>
            </div>
            <div class="form-group">
                <label for="clientSecret">
                    {{'clientSecret' | i18n}}
                    <small class="text-muted form-text d-inline">({{'required' | i18n}})</small>
                </label>
                <input class="form-control" formControlName="clientSecret" id="clientSecret" appChangeClearErrors>
                <div class="text-danger" *ngIf="openIdData.get('clientSecret').hasError('required')" role="alert">
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                    {{'fieldRequiredError' | i18n:('clientSecret' | i18n) }}
                </div>
            </div>
            <div class="form-group">
                <label for="metadataAddress">{{'metadataAddress' | i18n}}</label>
                <input class="form-control" formControlName="metadataAddress" id="metadataAddress">
            </div>
            <div class="form-group">
                <label for="redirectBehavior">
                    {{'oidcRedirectBehavior' | i18n}}
                    <small class="text-muted form-text d-inline">({{'required' | i18n}})</small>
                </label>
                <select class="form-control" formControlName="redirectBehavior" id="redirectBehavior">
                    <option *ngFor="let o of openIdConnectRedirectOptions" [ngValue]="o.value">{{o.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="getClaimsFromUserInfoEndpoint"
                        formControlName="getClaimsFromUserInfoEndpoint">
                    <label class="form-check-label" for="getClaimsFromUserInfoEndpoint">
                        {{'getClaimsFromUserInfoEndpoint' | i18n}}
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label for="additionalScopes">{{'additionalScopes' | i18n}}</label>
                <input class="form-control" formControlName="additionalScopes" id="additionalScopes">
            </div>
            <div class="form-group">
                <label for="additionalUserIdClaimTypes">{{'additionalUserIdClaimTypes' | i18n}}</label>
                <input class="form-control" formControlName="additionalUserIdClaimTypes"
                    id="additionalUserIdClaimTypes">
            </div>
            <div class="form-group">
                <label for="additionalEmailClaimTypes">{{'additionalEmailClaimTypes' | i18n}}</label>
                <input class="form-control" formControlName="additionalEmailClaimTypes"
                    id="additionalEmailClaimTypes">
            </div>
            <div class="form-group">
                <label for="additionalNameClaimTypes">{{'additionalNameClaimTypes' | i18n}}</label>
                <input class="form-control" formControlName="additionalNameClaimTypes"
                    id="additionalNameClaimTypes">
            </div>
            <div class="form-group">
                <label for="acrValues">{{'acrValues' | i18n}}</label>
                <input class="form-control" formControlName="acrValues" id="acrValues">
            </div>
            <div class="form-group">
                <label for="expectedReturnAcrValue">{{'expectedReturnAcrValue' | i18n}}</label>
                <input class="form-control" formControlName="expectedReturnAcrValue" id="expectedReturnAcrValue">
            </div>
        </div>
    </div>

    <div *ngIf="commonData.value.configType === ssoType.Saml2" formGroupName="saml">
        <!-- SAML2 SP -->
        <div class="config-section">
            <h2>{{'samlSpConfig' | i18n}}</h2>
            <div class="form-group">
                <label>{{'spEntityId' | i18n}}</label>
                <div class="input-group">
                    <input class="form-control" readonly [value]="spEntityId" >
                    <div class="input-group-append">
                        <button type="button" class="btn btn-outline-secondary"
                            appA11yTitle="{{'copyValue' | i18n}}"
                            (click)="copy(spEntityId)">
                            <i class="fa fa-lg fa-clone" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>{{'spMetadataUrl' | i18n}}</label>
                <div class="input-group">
                    <input class="form-control" readonly [value]="spMetadataUrl">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-outline-secondary"
                            appA11yTitle="{{'launch' | i18n}}"
                            (click)="launchUri(spMetadataUrl)">
                            <i class="fa fa-lg fa-external-link" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn btn-outline-secondary"
                            appA11yTitle="{{'copyValue' | i18n}}"
                            (click)="copy(spMetadataUrl)">
                            <i class="fa fa-lg fa-clone" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>{{'spAcsUrl' | i18n}}</label>
                <div class="input-group">
                    <input class="form-control" readonly [value]="spAcsUrl">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-outline-secondary"
                            appA11yTitle="{{'copyValue' | i18n}}"
                            (click)="copy(spAcsUrl)">
                            <i class="fa fa-lg fa-clone" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="spNameIdFormat">{{'spNameIdFormat' | i18n}}</label>
                <select class="form-control" formControlName="spNameIdFormat" id="spNameIdFormat">
                    <option *ngFor="let o of saml2NameIdFormatOptions" [ngValue]="o.value">{{o.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="spOutboundSigningAlgorithm">{{'spOutboundSigningAlgorithm' | i18n}}</label>
                <select class="form-control" formControlName="spOutboundSigningAlgorithm"
                    id="spOutboundSigningAlgorithm">
                    <option *ngFor="let o of samlSigningAlgorithms" [ngValue]="o">{{o}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="spSigningBehavior">{{'spSigningBehavior' | i18n}}</label>
                <select class="form-control" formControlName="spSigningBehavior" id="spSigningBehavior">
                    <option *ngFor="let o of saml2SigningBehaviourOptions" [ngValue]="o.value">{{o.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="spMinIncomingSigningAlgorithm">{{'spMinIncomingSigningAlgorithm' | i18n}}</label>
                <select class="form-control" formControlName="spMinIncomingSigningAlgorithm"
                    id="spMinIncomingSigningAlgorithm">
                    <option *ngFor="let o of samlSigningAlgorithms" [ngValue]="o">{{o}}</option>
                </select>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="spWantAssertionsSigned"
                        formControlName="spWantAssertionsSigned">
                    <label class="form-check-label" for="spWantAssertionsSigned">
                        {{'spWantAssertionsSigned' | i18n}}
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="spValidateCertificates"
                        formControlName="spValidateCertificates">
                    <label class="form-check-label" for="spValidateCertificates">
                        {{'spValidateCertificates' | i18n}}
                    </label>
                </div>
            </div>
        </div>

        <!-- SAML2 IDP -->
        <div class="config-section">
            <h2>{{'samlIdpConfig' | i18n}}</h2>

            <div class="form-group">
                <label for="idpEntityId">
                    {{'idpEntityId' | i18n}}
                    <small class="text-muted form-text d-inline">({{'required' | i18n}})</small>
                </label>
                <input class="form-control" formControlName="idpEntityId" id="idpEntityId" appChangeClearErrors>
                <div class="text-danger" *ngIf="samlData.get('idpEntityId').hasError('required')" role="alert">
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                    {{'fieldRequiredError' | i18n:('idpEntityId' | i18n) }}
                </div>
            </div>
            <div class="form-group">
                <label for="idpBindingType">{{'idpBindingType' | i18n}}</label>
                <select class="form-control" formControlName="idpBindingType" id="idpBindingType">
                    <option *ngFor="let o of saml2BindingTypeOptions" [ngValue]="o.value">{{o.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="idpSingleSignOnServiceUrl">{{'idpSingleSignOnServiceUrl' | i18n}}</label>
                <input class="form-control" formControlName="idpSingleSignOnServiceUrl" id="idpSingleSignOnServiceUrl">
                <small class="form-text text-muted">{{'idpSingleSignOnServiceUrlRequired' | i18n}}</small>
            </div>
            <div class="form-group">
                <label for="idpSingleLogoutServiceUrl">{{'idpSingleLogoutServiceUrl' | i18n}}</label>
                <input class="form-control" formControlName="idpSingleLogoutServiceUrl" id="idpSingleLogoutServiceUrl">
            </div>
            <div class="form-group">
                <label for="idpArtifactResolutionServiceUrl">{{'idpArtifactResolutionServiceUrl' | i18n}}</label>
                <input class="form-control" formControlName="idpArtifactResolutionServiceUrl"
                    id="idpArtifactResolutionServiceUrl" appChangeClearErrors>
                <small class="form-text text-muted">{{'idpArtifactResolutionRequired' | i18n}}</small>
                <div class="text-danger" *ngIf="samlData.get('idpArtifactResolutionServiceUrl').hasError('required')"
                    role="alert">
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                    {{'idpArtifactResolutionRequired' | i18n }}
                </div>
            </div>
            <div class="form-group">
                <label for="idpX509PublicCert">{{'idpX509PublicCert' | i18n}}</label>
                <textarea formControlName="idpX509PublicCert" class="form-control form-control-sm text-monospace"
                    rows="6" id="idpX509PublicCert" appChangeClearErrors></textarea>
                <small class="form-text text-muted">{{'idpX509PublicCertRequired' | i18n}}</small>
                <div class="text-danger" *ngIf="samlData.get('idpX509PublicCert').hasError('required')"
                    role="alert">
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                    {{'idpX509PublicCertRequired' | i18n }}
                </div>
            </div>
            <div class="form-group">
                <label for="idpOutboundSigningAlgorithm">{{'idpOutboundSigningAlgorithm' | i18n}}</label>
                <select class="form-control" formControlName="idpOutboundSigningAlgorithm"
                    id="idpOutboundSigningAlgorithm">
                    <option *ngFor="let o of samlSigningAlgorithms" [ngValue]="o">{{o}}</option>
                </select>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="idpAllowUnsolicitedAuthnResponse"
                        formControlName="idpAllowUnsolicitedAuthnResponse">
                    <label class="form-check-label" for="idpAllowUnsolicitedAuthnResponse">
                        {{'idpAllowUnsolicitedAuthnResponse' | i18n}}
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="idpAllowOutboundLogoutRequests"
                        formControlName="idpAllowOutboundLogoutRequests">
                    <label class="form-check-label" for="idpAllowOutboundLogoutRequests">
                        {{'idpAllowOutboundLogoutRequests' | i18n}}
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="idpWantAuthnRequestsSigned"
                        formControlName="idpWantAuthnRequestsSigned">
                    <label class="form-check-label" for="idpWantAuthnRequestsSigned">
                        {{'idpSignAuthenticationRequests' | i18n}}
                    </label>
                </div>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary btn-submit" [disabled]="form.loading">
        <i class="fa fa-spinner fa-spin" title="{{'loading' | i18n}}" aria-hidden="true"></i>
        <span>{{'save' | i18n}}</span>
    </button>
    <div class="text-danger" *ngIf="this.getErrorCount(ssoConfigForm) as errorCount" role="alert">
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
        {{ (errorCount === 1 ? 'formErrorSummarySingle' : 'formErrorSummaryPlural') | i18n: errorCount }}
    </div>
</form>
