<div *ngIf="openIdForm != null" [formGroup]="openIdForm">
    <div class="config-section">
        <h2 class="secondary-header">{{'openIdConnectConfig' | i18n}}</h2>
        <div class="form-group">
            <label>{{'callbackPath' | i18n}}</label>
            <div class="input-group">
                <input class="form-control" readonly [value]="callbackPath">
                <div class="input-group-append">
                    <button type="button" class="btn btn-outline-secondary"
                        appA11yTitle="{{'copyValue' | i18n}}"
                        (click)="copy(callbackPath)">
                        <i class="fa fa-lg fa-clone" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>{{'signedOutCallbackPath' | i18n}}</label>
            <div class="input-group">
                <input class="form-control" readonly [value]="signedOutCallbackPath">
                <div class="input-group-append">
                    <button type="button" class="btn btn-outline-secondary"
                        appA11yTitle="{{'copyValue' | i18n}}"
                        (click)="copy(signedOutCallbackPath)">
                        <i class="fa fa-lg fa-clone" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="authority">
                {{'authority' | i18n}}
                <small class="text-muted form-text d-inline">({{'required' | i18n}})</small>
            </label>
            <input class="form-control" formControlName="authority" id="authority" aria-describedby="authorityDesc"
                appChangeClearErrors appChangeStripSpaces appA11yInvalid>
            <small id="authorityDesc" class="error-inline" *ngIf="openIdForm.get('authority').hasError('required')">
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                {{'fieldRequiredError' | i18n }}
            </small>
        </div>
        <div class="form-group">
            <label for="clientId">
                {{'clientId' | i18n}}
                <small class="text-muted form-text d-inline">({{'required' | i18n}})</small>
            </label>
            <input class="form-control" formControlName="clientId" id="clientId" aria-describedby="clientIdDesc"
                appChangeClearErrors appA11yInvalid>
            <small id="clientIdDesc" class="error-inline" *ngIf="openIdForm.get('clientId').hasError('required')">
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                {{'fieldRequiredError' | i18n }}
            </small>
        </div>
        <div class="form-group">
            <label for="clientSecret">
                {{'clientSecret' | i18n}}
                <small class="text-muted form-text d-inline">({{'required' | i18n}})</small>
            </label>
            <input class="form-control" formControlName="clientSecret" id="clientSecret"
                aria-describedby="clientSecretDesc" appChangeClearErrors appA11yInvalid>
            <small id="clientSecretDesc" class="error-inline" *ngIf="openIdForm.get('clientSecret').hasError('required')">
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                {{'fieldRequiredError' | i18n }}
            </small>
        </div>
        <div class="form-group">
            <label for="metadataAddress">{{'metadataAddress' | i18n}}</label>
            <input class="form-control" formControlName="metadataAddress" id="metadataAddress" 
                aria-describedby="metadataAddressDesc" appChangeStripSpaces>
            <small id="metadataAddressDesc" class="text-muted form-text">
                {{'openIdAuthorityRequired' | i18n}}
            </small>
        </div>
        <div class="form-group">
            <label for="redirectBehavior">
                {{'oidcRedirectBehavior' | i18n}}
                <small class="text-muted form-text d-inline">({{'required' | i18n}})</small>
            </label>
            <select class="form-control" formControlName="redirectBehavior" id="redirectBehavior">
                <option *ngFor="let o of connectRedirectOptions" [ngValue]="o.value">{{o.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="getClaimsFromUserInfoEndpoint"
                    formControlName="getClaimsFromUserInfoEndpoint">
                <label class="form-check-label" for="getClaimsFromUserInfoEndpoint">
                    {{'getClaimsFromUserInfoEndpoint' | i18n}}
                </label>
            </div>
        </div>

        <!-- Optional customizations -->
        <div class="section-header d-flex flex-row align-items-center mt-3 mb-3" (click)="toggleCustomizations()">
            <h3 class="mb-0 mr-2" id="customizations-header">{{'openIdOptionalCustomizations' | i18n}}</h3>
            <button class="mb-1 btn btn-link" type="button" appStopClick role="button" aria-controls="customizations"
                [attr.aria-expanded]="showCustomizations" aria-labelledby="customizations-header">
                <i class="fa" aria-hidden="true"
                    [ngClass]="{'fa-chevron-down': !showCustomizations, 
                    'fa-chevron-up': showCustomizations}"></i>
            </button>
        </div>
        <div id="customizations" [hidden]="!showCustomizations">
            <div class="form-group">
                <label for="additionalScopes">{{'additionalScopes' | i18n}}</label>
                <input class="form-control" formControlName="additionalScopes" id="additionalScopes"
                    aria-describedby="additionalScopesDesc">
                <small class="form-text text-muted" id="additionalScopesDesc">
                    {{'separateMultipleWithComma' | i18n}}
                </small>
            </div>
            <div class="form-group">
                <label for="additionalUserIdClaimTypes">{{'additionalUserIdClaimTypes' | i18n}}</label>
                <input class="form-control" formControlName="additionalUserIdClaimTypes"
                    id="additionalUserIdClaimTypes" aria-describedby="additionalUserIdClaimTypesDesc">
                <small id="additionalUserIdClaimTypesDesc" class="form-text text-muted">
                    {{'separateMultipleWithComma' | i18n}}
                </small>
            </div>
            <div class="form-group">
                <label for="additionalEmailClaimTypes">{{'additionalEmailClaimTypes' | i18n}}</label>
                <input class="form-control" formControlName="additionalEmailClaimTypes"
                    id="additionalEmailClaimTypes" aria-describedby="additionalEmailClaimTypesDesc">
                <small id="additionalEmailClaimTypesDesc" class="form-text text-muted">
                    {{'separateMultipleWithComma' | i18n}}
                </small>
            </div>
            <div class="form-group">
                <label for="additionalNameClaimTypes">{{'additionalNameClaimTypes' | i18n}}</label>
                <input class="form-control" formControlName="additionalNameClaimTypes"
                    id="additionalNameClaimTypes" aria-describedby="additionalNameClaimTypesDesc">
                <small id="additionalNameClaimTypesDesc" class="form-text text-muted">
                    {{'separateMultipleWithComma' | i18n}}
                </small>
            </div>
            <div class="form-group">
                <label for="acrValues">{{'acrValues' | i18n}}</label>
                <input class="form-control" formControlName="acrValues" id="acrValues" aria-describedby="acrValuesDesc">
                <small id="acrValuesDesc" class="form-text text-muted">
                    acr_values
                </small>
            </div>
            <div class="form-group">
                <label for="expectedReturnAcrValue">{{'expectedReturnAcrValue' | i18n}}</label>
                <input class="form-control" formControlName="expectedReturnAcrValue" id="expectedReturnAcrValue"
                    aria-describedby="expectedReturnAcrValueDesc">
                <small id="expectedReturnAcrValueDesc" class="form-text text-muted">
                    acr_validation
                </small>
            </div>
        </div>
    </div>
</div>
