@import "variables";

:export {
  darkInputColor: $darkInputColor;
  darkInputPlaceholderColor: $darkInputPlaceholderColor;
  lightInputColor: $lightInputColor;
  lightInputPlaceholderColor: $lightInputPlaceholderColor;
}
