@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/_mixins";
@import "~bootstrap/scss/_root";
@import "~bootstrap/scss/_reboot";

html {
  font-size: 14px;
}

html.theme_light body.layout_frontend {
  background-color: #ecf0f5;
  color: #333;
}

img.logo {
  display: block;
  height: 43px;
  margin: 0 auto;
  margin-bottom: 0px;
  width: 284px;
}
