<div *ngIf="loaded && activeOrganization != null" class="tw-flex">
  <button
    class="tw-flex tw-items-center tw-bg-background-alt tw-border-none"
    type="button"
    id="pickerButton"
    [bitMenuTriggerFor]="orgPickerMenu"
  >
    <app-avatar [data]="activeOrganization.name" size="45" [circle]="true"></app-avatar>
    <div class="org-name tw-ml-3">
      <span>{{ activeOrganization.name }}</span>
      <small class="tw-text-muted">{{ "organization" | i18n }}</small>
    </div>
    <div class="tw-ml-3">
      <i class="bwi bwi-angle-down" aria-hidden="true"></i>
    </div>
  </button>
  <div>
    <div
      class="tw-ml-3 tw-border tw-border-solid tw-rounded tw-border-danger-500 tw-text-danger"
      *ngIf="!activeOrganization.enabled"
    >
      <div class="tw-py-2 tw-px-5">
        <i class="bwi bwi-exclamation-triangle" aria-hidden="true"></i>
        {{ "organizationIsDisabled" | i18n }}
      </div>
    </div>
    <div
      class="tw-ml-3 tw-border tw-border-solid tw-rounded tw-border-info-500 tw-text-info"
      *ngIf="activeOrganization.isProviderUser"
    >
      <div class="tw-py-2 tw-px-5">
        <i class="bwi bwi-exclamation-triangle" aria-hidden="true"></i>
        {{ "accessingUsingProvider" | i18n: activeOrganization.providerName }}
      </div>
    </div>
  </div>

  <bit-menu #orgPickerMenu>
    <a bit-menu-item *ngFor="let org of organizations" [routerLink]="['/organizations', org.id]">
      <i
        class="bwi bwi-check mr-2"
        [ngClass]="org.id === activeOrganization.id ? 'visible' : 'invisible'"
      ></i>
      {{ org.name }}
    </a>
    <bit-menu-divider></bit-menu-divider>
    <a bit-menu-item routerLink="/settings/create-organization">
      <i class="bwi bwi-plus mr-2"></i>
      {{ "newOrganization" | i18n }}</a
    >
  </bit-menu>
</div>
