<section class="content-header">
    <h1>
        Tools
        <small>helpful utilities</small>
    </h1>
</section>
<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Import</h3>
        </div>
        <div class="box-body">
            Quickly import your logins and other data from a previous bitwarden export or from another
            password manager application.
        </div>
        <div class="box-footer">
            <button class="btn btn-default btn-flat" type="button" ng-click="import()">Import Data</button>
        </div>
    </div>
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Export</h3>
        </div>
        <div class="box-body">
            Export all of your vault data in <code>.csv</code> format.
        </div>
        <div class="box-footer">
            <button class="btn btn-default btn-flat" type="button" ng-click="export()">Export Data</button>
        </div>
    </div>
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Password Generator</h3>
        </div>
        <div class="box-body">
            Coming soon!
        </div>
    </div>
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Audits</h3>
        </div>
        <div class="box-body">
            Coming soon!
        </div>
    </div>
</section>
