<div class="modal-header">
    <button type="button" class="close" ng-click="close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title"><i class="fa fa-sitemap"></i> Create Organization</h4>
</div>
<form name="createOrgForm" ng-submit="createOrgForm.$valid && submit(model)" api-form="submitPromise">
    <div class="modal-body">
        <div class="callout callout-danger validation-errors" ng-show="createOrgForm.$errors">
            <h4>Errors have occured</h4>
            <ul>
                <li ng-repeat="e in createOrgForm.$errors">{{e}}</li>
            </ul>
        </div>
        <div class="form-group" show-errors>
            <label for="name">Organization Name</label>
            <input type="text" id="name" name="Name" ng-model="model.name" class="form-control"
                   required api-field />
        </div>
        <div class="form-group">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="model.plan" name="PlanType" value="Free" checked>
                    Free
                </label>
                <p class="help-block">Share with 1 other user.</p>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" ng-model="model.plan" name="PlanType" value="Premium">
                    Premium ($1 /month)
                </label>
                <p class="help-block">Share with up to 5 users.</p>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" ng-model="model.plan" name="PlanType" value="Teams">
                    Teams ($2 /user per month)
                </label>
                <p class="help-block">Share with as many users as you need.</p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-flat" ng-disabled="createOrgForm.$loading">
            <i class="fa fa-refresh fa-spin loading-icon" ng-show="createOrgForm.$loading"></i>Submit
        </button>
        <button type="button" class="btn btn-default btn-flat" ng-click="close()">Close</button>
    </div>
</form>
