<form (ngSubmit)="submit()">
    <div class="page-header">
        <h1>{{'exportVault' | i18n}}</h1>
    </div>
    <p>{{'exportMasterPassword' | i18n}}</p>
    <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">{{'warning' | i18n}}</h4>
        <p class="mb-0">{{'exportWarning' | i18n}}</p>
    </div>
    <div class="row">
        <div class="form-group col-6">
            <label for="masterPassword">{{'masterPass' | i18n}}</label>
            <input id="masterPassword" type="password" name="MasterPassword" class="form-control" [(ngModel)]="masterPassword" required>
        </div>
    </div>
    <button appBlurClick type="submit" class="btn btn-primary">
        {{'exportVault' | i18n}}
    </button>
</form>
