<section class="content-header">
    <h1>
        Org<span class="hidden-xs">anization</span> Vault
        <small>
            <span ng-pluralize
                  count="subvaults.length > 0 ? subvaults.length - 1 : 0"
                  when="{'1': '{} subvault', 'other': '{} subvaults'}"></span>,
            <span ng-pluralize count="logins.length" when="{'1': '{} login', 'other': '{} logins'}"></span>
        </small>
    </h1>
</section>
<section class="content">
    <p ng-show="loading && !subvaults.length">Loading...</p>
    <div class="box" ng-class="{'collapsed-box': subvault.collapsed}" ng-repeat="subvault in subvaults |
         orderBy: subvaultSort track by subvault.id"
         ng-show="subvaults.length">
        <div class="box-header with-border">
            <h3 class="box-title">
                <i class="fa" ng-class="{'fa-share-alt-square': subvault.id, 'fa-sitemap': !subvault.id}"></i>
                {{subvault.name}}
                <small ng-pluralize count="subvaultLogins.length" when="{'1': '{} login', 'other': '{} logins'}"></small>
            </h3>
            <div class="box-tools">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" title="Collapse/Expand"
                        ng-click="collapseExpand(subvault)">
                    <i class="fa" ng-class="{'fa-minus': !subvault.collapsed, 'fa-plus': subvault.collapsed}"></i>
                </button>
            </div>
        </div>
        <div class="box-body" ng-class="{'no-padding': subvaultLogins.length}">
            <div ng-show="!subvaultLogins.length && subvault.id">No logins in this subvault.</div>
            <div ng-show="!subvaultLogins.length && !subvault.id">No unassigned logins.</div>
            <div class="table-responsive" ng-show="subvaultLogins.length">
                <table class="table table-striped table-hover table-vmiddle">
                    <tbody>
                        <tr ng-repeat="login in subvaultLogins = (logins | filter: filterBySubvault(subvault) |
                            orderBy: ['name', 'username']) track by login.id">
                            <td style="width: 70px;">
                                <div class="btn-group" data-append-to="body">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-cog"></i> <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="javascript:void(0)" ng-click="editSubvaults(login)">
                                                <i class="fa fa-fw fa-share-alt"></i> Subvaults
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)" ng-click="deleteLogin(login)" class="text-red"
                                               ng-if="subvault.id">
                                                <i class="fa fa-fw fa-remove"></i> Remove
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)" ng-click="deleteLogin(login)" class="text-red">
                                                <i class="fa fa-fw fa-trash"></i> Delete
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                            <td>
                                <a href="javascript:void(0)" ng-click="editSubvaults(login)">{{login.name}}</a>
                                <div class="text-sm text-muted">{{login.username}}</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
