<div class="modal-header">
    <button type="button" class="close" ng-click="close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title"><i class="fa fa-user"></i> Invite User</h4>
</div>
<form name="inviteForm" ng-submit="inviteForm.$valid && submit(model)" api-form="submitPromise">
    <div class="modal-body">
        <p>
            Invite a new user to your organization by entering their bitwarden account email address below. If they do not have
            a bitwarden account already, they will be prompted to create a new account.
        </p>
        <div class="callout callout-danger validation-errors" ng-show="inviteForm.$errors">
            <h4>Errors have occured</h4>
            <ul>
                <li ng-repeat="e in inviteForm.$errors">{{e}}</li>
            </ul>
        </div>
        <div class="form-group" show-errors>
            <label for="email">Email</label>
            <input type="email" id="email" name="Email" ng-model="model.email" class="form-control" required api-field />
        </div>
        <h4>User Type</h4>
        <div class="form-group">
            <div class="radio">
                <label>
                    <input type="radio" id="user-type" ng-model="model.type" name="Type" value="User">
                    <strong>User</strong> - A regular user with access to your organization's subvaults.
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" ng-model="model.type" name="Type" value="Admin">
                    <strong>Admin</strong> - Admins can manage subvaults and users for your organization.
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" ng-model="model.type" name="Type" value="Owner">
                    <strong>Owner</strong> - The highest access user that can manage all aspects of your organization.
                </label>
            </div>
        </div>
        <h4>Subvault Access</h4>
        <div class="radio">
            <label>
                <input type="radio" ng-model="model.accessAllSubvaults" name="AccessAllSubvaults"
                       ng-value="true" ng-checked="model.accessAllSubvaults">
                This user can access and modify items in <u>all</u> current and future subvaults.
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" ng-model="model.accessAllSubvaults" name="AccessAllSubvaults"
                       ng-value="false" ng-checked="!model.accessAllSubvaults">
                This user can access only the selected subvaults.
            </label>
        </div>
        <div ng-show="!model.accessAllSubvaults">
            <div ng-show="loading && !subvaults.length">
                Loading subvaults...
            </div>
            <div ng-show="!loading && !subvaults.length">
                <p>No subvaults for your organization.</p>
            </div>
            <div class="table-responsive" ng-show="subvaults.length" style="margin: 0;">
                <table class="table table-striped table-hover" style="margin: 0;">
                    <thead>
                        <tr>
                            <th style="width: 40px;">
                                <input type="checkbox"
                                       ng-checked="allSelected()"
                                       ng-click="toggleSubvaultSelectionAll($event)">
                            </th>
                            <th>Name</th>
                            <th style="width: 100px; text-align: center;">Read Only</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="subvault in subvaults | orderBy: ['name'] track by subvault.id">
                            <td style="width: 40px;" valign="middle">
                                <input type="checkbox"
                                       name="selectedSubvaults[]"
                                       value="{{subvault.id}}"
                                       ng-checked="subvaultSelected(subvault)"
                                       ng-click="toggleSubvaultSelection(subvault.id)">
                            </td>
                            <td valign="middle">
                                {{subvault.name}}
                            </td>
                            <td style="width: 100px; text-align: center;" valign="middle">
                                <input type="checkbox"
                                       name="selectedSubvaultsReadonly[]"
                                       value="{{subvault.id}}"
                                       ng-disabled="!subvaultSelected(subvault)"
                                       ng-checked="subvaultSelected(subvault) && selectedSubvaults[subvault.id].readOnly"
                                       ng-click="toggleSubvaultReadOnlySelection(subvault.id)">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-flat" ng-disabled="inviteForm.$loading">
            <i class="fa fa-refresh fa-spin loading-icon" ng-show="inviteForm.$loading"></i>Send Invite
        </button>
        <button type="button" class="btn btn-default btn-flat" ng-click="close()">Close</button>
    </div>
</form>
