<div class="modal-header">
    <button type="button" class="close" ng-click="close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title"><i class="fa fa-share-alt"></i> Subvaults <small>{{cipher.name}}</small></h4>
</div>
<form name="form" ng-submit="form.$valid && submit()" api-form="submitPromise">
    <div class="modal-body">
        <p>Edit the subvaults that this login is being shared with.</p>
        <div class="callout callout-danger validation-errors" ng-show="form.$errors">
            <h4>Errors have occured</h4>
            <ul>
                <li ng-repeat="e in form.$errors">{{e}}</li>
            </ul>
        </div>
        <div ng-show="!subvaults.length" class="callout callout-default">
            <p>No subvaults to manage.</p>
        </div>
        <div class="table-responsive" ng-show="subvaults.length" style="margin: 0;">
            <table class="table table-striped table-hover" style="margin: 0;">
                <thead>
                    <tr>
                        <th style="width: 40px;">
                            <input type="checkbox"
                                   ng-checked="allSelected()"
                                   ng-click="toggleSubvaultSelectionAll($event)">
                        </th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="subvault in subvaults | orderBy: ['name'] track by subvault.id">
                        <td valign="middle">
                            <input type="checkbox"
                                   name="selectedSubvaults[]"
                                   value="{{subvault.id}}"
                                   ng-checked="subvaultSelected(subvault)"
                                   ng-click="toggleSubvaultSelection(subvault.id)">
                        </td>
                        <td valign="middle" ng-click="toggleSubvaultSelection(subvault.id)">
                            {{subvault.name}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-flat" ng-disabled="form.$loading" ng-show="subvaults.length">
            <i class="fa fa-refresh fa-spin loading-icon" ng-show="form.$loading"></i>Save
        </button>
        <button type="button" class="btn btn-default btn-flat" ng-click="close()">Close</button>
    </div>
</form>