<div class="modal fade" role="dialog" aria-modal="true" aria-labelledby="billingSyncApiKeyTitle">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <form
      class="modal-content"
      #form
      (ngSubmit)="submit()"
      [appApiAction]="formPromise"
      ngNativeValidate
    >
      <div class="modal-header">
        <h2 class="modal-title" id="billingSyncApiKeyTitle">
          {{ ( hasBillingToken ?  'viewBillingSyncToken' : 'generateBillingSyncToken' ) | i18n }}
        </h2>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          appA11yTitle="{{ 'close' | i18n }}"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-verify-master-password
          [(ngModel)]="masterPassword"
          ngDefaultControl
          name="secret"
          *ngIf="!clientSecret"
        >
        </app-verify-master-password>
        <ng-container *ngIf="clientSecret && showRotateScreen">
          <p>{{ 'rotateBillingSyncTokenTitle' | i18n }}</p>
          <app-callout type="warning">
            {{ 'rotateBillingSyncTokenWarning' | i18n }}
          </app-callout>
        </ng-container>
        
        <div *ngIf="clientSecret && !showRotateScreen">
          <p>{{ 'copyPasteBillingSync' | i18n }}</p>
          <label for="clientSecret">Billing Sync Key</label>
          <div class="input-group">
            <input id="clientSecret"
              class="form-control text-monospace"
              type="text"
              [(ngModel)]="clientSecret"
              name="clientSecret"
              disabled />
            <div class="input-group-append">
              <button
                type="button"
                class="btn btn-outline-secondary"
                (click)="copy()"
                [appA11yTitle]="'copy' | i18n"
              >
                <i class="fa fa-lg fa-clone" aria-hidden="true"></i>
              </button>
            </div>
          </div>
          <div class="small text-muted mt-2">
            <div *ngIf="keyRevisionDate">
              <b class="font-weight-semibold">{{ "dateUpdated" | i18n }}:</b>
              {{ keyRevisionDate | date: 'medium' }}
            </div>
          </div>
          <p *ngIf="keyRevisionDate && lastSyncDate">{{ syncText }}</p>
          <p class="mt-4">{{ 'billingSyncCanAccess' | i18n }}</p>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="submit"
          class="btn btn-primary btn-submit"
          [disabled]="form.loading"
          *ngIf="!clientSecret || showRotateScreen"
        >
          <i class="fa fa-spinner fa-spin" title="{{ 'loading' | i18n }}" *ngIf="form.loading"></i>
          <span>
            {{ submitButtonText }}
          </span>
        </button>
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" *ngIf="!showRotateScreen">
          {{ 'close' | i18n }}
        </button>
        <button type="button" class="btn btn-outline-secondary" *ngIf="showRotateScreen" (click)="cancelRotate()">
          {{ 'cancel' | i18n }}
        </button>
        <button type="button" class="btn btn-outline-secondary" *ngIf="clientSecret && !showRotateScreen" (click)="rotateToken()">
          {{ 'rotateToken' | i18n }}
        </button>
      </div>
    </form>
  </div>
</div>
