@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 300;
	src: url(../fonts/Open_Sans-italic-300.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 400;
	src: url(../fonts/Open_Sans-italic-400.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 600;
	src: url(../fonts/Open_Sans-italic-600.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 700;
	src: url(../fonts/Open_Sans-italic-700.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 800;
	src: url(../fonts/Open_Sans-italic-800.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: url(../fonts/Open_Sans-normal-300.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/Open_Sans-normal-400.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	src: url(../fonts/Open_Sans-normal-600.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: url(../fonts/Open_Sans-normal-700.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 800;
	src: url(../fonts/Open_Sans-normal-800.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

body {
    font-family: 'Open Sans';
}

html, body, .row {
    height: 100%;
    -webkit-font-smoothing: antialiased;
}

h2 {
    font-size: 25px;
    margin-bottom: 12.5px;
    font-weight: 500;
    line-height: 1.1;
}

.brand {
  font-size: 23px;
  line-height: 25px;
  color: #fff;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.banner {
    background-color: #175DDC;
    height: 56px;
}

.content {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.footer {
    padding: 40px 0 40px 0;
    border-top: 1px solid #dee2e6;
}
