<ng-container *ngIf="show">
  <div class="collapsable-row">
    <i
      class="bwi"
      title="{{ 'toggleCollapse' | i18n }}"
      aria-hidden="true"
      [ngClass]="{
        'bwi-angle-right': isCollapsed(collectionsGrouping),
        'bwi-angle-down': !isCollapsed(collectionsGrouping)
      }"
      (click)="toggleCollapse(collectionsGrouping)"
      appStopProp
    ></i>
    <h3>&nbsp;{{ collectionsGrouping.name | i18n }}</h3>
  </div>
  <ul *ngIf="!isCollapsed(collectionsGrouping)" class="bwi-ul card-ul">
    <ng-template #recursiveCollections let-collections>
      <li
        *ngFor="let c of collections"
        [ngClass]="{
          active: c.node.id === activeFilter.selectedCollectionId
        }"
      >
        <i
          *ngIf="c.children.length"
          class="bwi-li bwi"
          title="{{ 'toggleCollapse' | i18n }}"
          [ngClass]="{
            'bwi-angle-right': isCollapsed(c.node),
            'bwi-angle-down': !isCollapsed(c.node)
          }"
          (click)="collapse(c.node)"
        ></i>
        <a href="#" class="text-break" appStopClick (click)="applyFilter(c.node)">
          <i
            *ngIf="c.children.length === 0"
            class="bwi bwi-li bwi-collection"
            aria-hidden="true"
          ></i
          >{{ c.node.name }}
        </a>
        <ul class="bwi-ul card-ul carets" *ngIf="c.children.length && !isCollapsed(c.node)">
          <ng-container
            *ngTemplateOutlet="recursiveCollections; context: { $implicit: c.children }"
          >
          </ng-container>
        </ul>
      </li>
    </ng-template>
    <ng-container
      *ngTemplateOutlet="recursiveCollections; context: { $implicit: nestedCollections }"
    >
    </ng-container>
  </ul>
</ng-container>
