<section class="content-header">
    <h1>
        Shared
        <small>
            <span ng-pluralize
                  count="collections.length > 0 && logins.length ? collections.length - 1 : collections.length"
                  when="{'1': '{} collection', 'other': '{} collections'}"></span>,
            <span ng-pluralize count="logins.length" when="{'1': '{} login', 'other': '{} logins'}"></span>
        </small>
    </h1>
</section>
<section class="content">
    <p ng-show="loading && !collections.length">Loading...</p>
    <div class="callout callout-default" style="background: #fff;" ng-show="!loading && !collections.length && !logins.length">
        <h4>Nothing shared <i class="fa fa-frown-o"></i></h4>
        <p>
            You do not have any logins or collections being shared with you.
            To start sharing, create an organization or ask an existing organization to invite you.
        </p>
        <a ui-sref="backend.user.settingsCreateOrg" class="btn btn-default btn-flat">
            Create an Organization
        </a>
    </div>
    <div class="box" ng-class="{'collapsed-box': collection.collapsed}" ng-repeat="collection in collections |
         orderBy: collectionSort track by collection.id"
         ng-show="collections.length">
        <div class="box-header with-border">
            <h3 class="box-title">
                <i class="fa" ng-class="{'fa-cubes': collection.id, 'fa-sitemap': !collection.id}"></i>
                {{collection.name}}
                <small ng-pluralize count="collectionLogins.length" when="{'1': '{} login', 'other': '{} logins'}"></small>
            </h3>
            <div class="box-tools">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" title="Collapse/Expand"
                        ng-click="collapseExpand(collection)">
                    <i class="fa" ng-class="{'fa-minus': !collection.collapsed, 'fa-plus': collection.collapsed}"></i>
                </button>
            </div>
        </div>
        <div class="box-body" ng-class="{'no-padding': collectionLogins.length}">
            <div ng-show="!collectionLogins.length && collection.id">
                <p>No logins in this collection.</p>
                <p>
                    Share a login to this collection by selecting <i class="fa fa-share-alt"></i> <b>Share</b> or
                    <i class="fa fa-cubes"></i> <b>Collections</b> from the login's options (<i class="fa fa-cog"></i>) menu.
                </p>
            </div>
            <div ng-show="!collectionLogins.length && !collection.id">No unassigned logins.</div>
            <div class="table-responsive" ng-show="collectionLogins.length">
                <table class="table table-striped table-hover table-vmiddle">
                    <tbody>
                        <tr ng-repeat="login in collectionLogins = (logins | filter: filterByCollection(collection) |
                            orderBy: ['name', 'username']) track by login.id">
                            <td style="width: 70px;">
                                <div class="btn-group" data-append-to="body">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-cog"></i> <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="#" stop-click ng-click="editLogin(login)">
                                                <i class="fa fa-fw fa-pencil"></i> Edit
                                            </a>
                                        </li>
                                        <li ng-show="login.edit">
                                            <a href="#" stop-click ng-click="editCollections(login)">
                                                <i class="fa fa-fw fa-cubes"></i> Collections
                                            </a>
                                        </li>
                                        <li ng-show="login.password">
                                            <a href="#" stop-click ngclipboard ngclipboard-error="clipboardError(e)"
                                               data-clipboard-text="{{login.password}}">
                                                <i class="fa fa-fw fa-clipboard"></i> Copy Password
                                            </a>
                                        </li>
                                        <li ng-show="login.edit">
                                            <a href="#" stop-click ng-click="removeLogin(login, collection)"
                                               ng-if="collection.id" class="text-red">
                                                <i class="fa fa-fw fa-remove"></i> Remove
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                            <td>
                                <a href="#" stop-click ng-click="editLogin(login)">{{login.name}}</a>
                                <i class="fa fa-star text-muted" title="Favorite" ng-show="login.favorite"></i>
                                <div class="text-sm text-muted">{{login.username}}</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
