.dropdown-menu, .dropdown-item  {
    @include themify($themes) {
        background-color: themed('dropdownBackground');
        color: themed('darkTextColor');
    }
}

.dropdown-item {
    &.text-danger {
        color: #FFFFFF !important;
        @include themify($themes) {
            background-color: themed('danger');
        }

        &:hover {
            color: #FFFFFF !important;
            @include themify($themes){
                background-color: themed('dropdownDangerHover') !important;
            }
        }
    }
    &:hover:not(.text-danger) {
        @include themify($themes) {
            background-color: themed('dropdownHover');
            color: themed('darkTextColor');
        }
    }
    &:active{
        background-color: rgba(0,0,0,0.1) !important;
    }
}

.dropdown-menu {
    button {
        cursor: pointer;
    }
}

.list-group-item.active {
    border-color: rgba(0,0,0,0.125);
    font-weight: bold !important;
    padding-left: calc(#{$list-group-item-padding-x} - 3px);
    @include themify($themes) {
        border-left: 3px solid themed('borderPrimaryColor');
        color: themed('textColor');
    }
}
