@import 'variables';

:export {
    lightInputColor: $lightInputColor;
    lightInputPlaceholderColor: $lightInputPlaceholderColor;
    darkInputColor: $darkInputColor;
    darkInputPlaceholderColor: $darkInputPlaceholderColor;
}
