.navbar {
    padding-left: 0;
    padding-right: 0;
    @include themify($themes) {
        background-color: themed('navBackground') !important;
    }

    .dropdown-menu {
        max-width: 300px;
        min-width: 200px;

        .dropdown-item-text {
            line-height: 1.3;
            @include themify($themes) {
                color: themed('darkTextColor');
            }

            span, small {
                display: block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                &.text-muted {
                    @include themify($themes) {
                        color: themed('dropdownTextMuted') !important;
                    }
                }
            }
        }
    }
    .nav-item {
        > .nav-link {
            @include themify($themes) {
                font-weight: themed('navWeight');
            }
        }
        &.active > .nav-link {
            @include themify($themes) {
                font-weight: themed('navActiveWeight');
            }
        }
    }
}

.navbar-brand {
    margin-bottom: -20px;
    margin-top: -20px;
}

.page-header, .secondary-header {
    margin-bottom: 0.5rem;
    padding-bottom: 0.6rem;
    @include themify($themes) {
        border-bottom: 1px solid themed('separator');
    }

    &:not(.text-danger) {
        h1, h2, h3, h4 {
            margin: 0;
            @include themify($themes) {
                color: themed('headingColor');
            }
        }
    }
}

.secondary-header, .spaced-header {
    margin-top: 4rem;
}

.org-nav {
    height: 100px;
    min-height: 100px;
    @include themify($themes) {
        background-color: themed('navOrgBackgroundColor');
        border-bottom: 1px solid themed('borderColor');
        color: themed('textColor');
    }

    .container {
        height: 100%;
    }

    .nav-tabs {
        border-bottom: none;

        a {
            &:not(.active) {
                border-color: transparent;
                @include themify($themes) {
                    color: themed('headingColor');
                }
            }

            &.active {
                font-weight: bold;
                padding-top: calc(#{$nav-link-padding-y} - 2px);
                @include themify($themes) {
                    border-top: 3px solid themed('primary');
                    color: themed('textColor');
                }
            }

            &.disabled {
                @include themify($themes) {
                    color: themed('inputDisabledColor');
                }
            }
        }
    }

    .org-name {
        line-height: 1;
        span {
            display: block;
            font-size: $font-size-lg;
            @include themify($themes) {
                color: themed('headingColor');
            }
        }
    }
}
.nav-tabs .nav-link.active {
    @include themify($themes) {
        background: themed('navActiveBackground');
        border-color: themed('borderColor');
    }
}

.logo#loginLogo {
    display: block;
    height: 43px;
    margin: 0 auto;
    width: 284px;
    @media (prefers-color-scheme: dark){
        background: url("../images/logo-white@2x.png") no-repeat center center;
        background-size: cover;
    }
    @media (prefers-color-scheme: light){
        background: url("../images/logo-dark@2x.png") no-repeat center center;
        background-size: cover;
    }
    @include themify($themes) {
        background: themed('loginLogo') no-repeat center center;
        background-size: cover;
    }
}
