.navbar {
    padding-left: 0;
    padding-right: 0;
    @include themify($themes) {
        background-color: themed('navBackground') !important;
    }

    .dropdown-menu {
        max-width: 300px;
        min-width: 200px;

        .dropdown-item-text {
            line-height: 1.3;
            @include themify($themes) {
                color: themed('dropdownTextColor');
            }

            span, small {
                display: block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                &.text-muted {
                    @include themify($themes) {
                        color: themed('dropdownTextMuted') !important;
                    }
                }
            }
        }
    }
    .nav-item {
        > .nav-link {
            @include themify($themes) {
                font-weight: themed('navWeight');
            }
        }
        &.active > .nav-link {
            @include themify($themes) {
                font-weight: themed('navActiveWeight');
            }
        }
    }
}

.navbar-brand {
    margin-bottom: -20px;
    margin-top: -20px;
}

.nav-tabs .nav-link.active {
    @include themify($themes) {
        background: themed('navActiveBackground');
        border-color: themed('borderColor');
    }
}

img.logo, #iBWLogo {
    display: block;
    height: 43px;
    margin: 0 auto;
    width: 284px;
}

/* This is for the index.html page so we don't need to do inline styling or use javascript */
#iBWLogo {
    @media (prefers-color-scheme: dark) {
        background: url("/src/images/logo-white@2x.png") no-repeat center center;
        background-size: cover;
    }
    @media (prefers-color-scheme: light) {
        background: url("/src/images/logo-dark@2x.png") no-repeat center center;
        background-size: cover;
    }
}
