.layout {
    &.enterprise2 {
        header {
            @include themify($themes) {
                background: themed('primary');
                color: themed('registerHeadingColor');
            }

            &:before {
                @include themify($themes) {
                    background: themed('primary');
                }
                content: "";
                height: 416px;
                left: 0;
                position: absolute;
                top: -76px;
                transform: skewY(-3deg);
                width: 100%;
                z-index: -1;
            }
            .logo#registerLogo {
                @include themify($themes) {
                    background: themed('registerLogo') no-repeat center center;
                    background-size: cover;
                }
                margin: 12px 0 0;
                max-width: 284px;
                height: 57px;
                width: 284px;
            }
        }

        h2 {
            @include themify($themes) {
                color: themed('registerHeadingColor');
            }
            font-size: 1.8rem;
            margin: 100px 0 150px 0;
        }

        p {
            font-size: 1.4rem;
            margin: 20px 0 40px 0;

            &:before {
                content: "/";
                padding-right: 12px;
            }
            &:not(.highlight) {
                &:before {
                    @include themify($themes) {
                        color: themed('primaryAlt');
                    }
                }
            }

            b {
                &:after {
                    content: "⟶";
                    font-size: 2rem;
                    padding-left: 6px;
                }
            }
        }

        blockquote {
            font-size: 1.4rem;
            margin: 20px 0 0 0;
            padding-right: 40px;
        }
    }
}
