@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-text-main: #212529;
  --color-text-muted: #6D757E;
  --color-text-contrast: #FFFFFF;

  --color-background: #FFFFFF;
  --color-background-elevation: #FBFBFB;

  --color-primary-300: #6795E8;
  --color-primary-500: #175DDC;
  --color-primary-700: #1252A3;

  --color-secondary-100: #F0F0F0;
  --color-secondary-300: #CED4DC;
  --color-secondary-500: #89929F;
  --color-secondary-700: #212529;

  --color-success-500: #017E45;
  --color-success-700: #003F23;

  --color-danger-500: #C83522;
  --color-danger-700: #641A11;

  --color-warning-500: #8B6609;
  --color-warning-700: #463304;

  --color-info-500: #555555;
  --color-info-700: #2B2B2B;
}

.theme_light {
  /* ... */
}

.theme_dark {
  --background-color: #1f242e;

  --color-primary-300: #6795e8;
  --color-primary-500: #6a99f0;
  --color-primary-700: #b4ccf9;

  --color-secondary-text: #ffffff;
  --color-secondary-text-hover: #8d94a5;

  --color-outline-background: transparent;
  --color-outline-border: #bac0ce;
}

body {
  background-color: var(--background-color);
}
