<p class="login-box-msg">Confirm your master password.</p>
<div class="text-center" ng-show="success">
    <div class="callout callout-success">
        <h4>You're Registered!</h4>
        <p>You may now log in to your new account.</p>
    </div>
    <a ui-sref="frontend.login.info">Ready to log in?</a>
</div>
<form name="finalizeConfirmForm" ng-submit="finalizeConfirmForm.$valid && confirm(finalizeConfirmForm)" ng-show="!success"
      api-form="confirmPromise">
    <div class="callout callout-danger validation-errors" ng-show="finalizeConfirmForm.$errors">
        <h4>Errors have occured</h4>
        <ul>
            <li ng-repeat="e in finalizeConfirmForm.$errors">{{e}}</li>
        </ul>
    </div>
    <div class="form-group has-feedback" show-errors>
        <label form="confirmMasterPassword" class="sr-only">Re-type Master Password</label>
        <input type="password" id="confirmMasterPassword" name="ConfirmMasterPassword" class="form-control" placeholder="Re-type Master Password"
               ng-model="model.confirmMasterPassword" api-field>
        <span class="fa fa-lock form-control-feedback"></span>
        <p class="help-block">It is very important that you do not forget your master password. There is no way to recover the password in the event that you forget it.</p>
    </div>
    <hr />
    <div class="row">
        <div class="col-xs-7">
            <a href="#" ng-click="loadInfo()"><i class="fa fa-arrow-left"></i> Go Back</a>
        </div>
        <div class="col-xs-5">
            <button type="submit" class="btn btn-primary btn-block btn-flat" ng-disabled="finalizeConfirmForm.$loading">
                <i class="fa fa-refresh fa-spin loading-icon" ng-show="finalizeConfirmForm.$loading"></i>Submit
            </button>
        </div>
    </div>
</form>