<div class="callout callout-warning" role="alert">
    <h3 class="callout-heading">{{'warning' | i18n}}</h3>
    <p class="mb-0">{{'loggedOutWarning' | i18n}}</p>
</div>
<form #form (ngSubmit)="submit()" [appApiAction]="formPromise" ngNativeValidate>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label for="currentMasterPassword">{{'currentMasterPass' | i18n}}</label>
                <input id="currentMasterPassword" type="password" name="MasterPasswordHash" class="form-control" [(ngModel)]="currentMasterPassword"
                    required>
            </div>
            <div class="form-group">
                <label for="newMasterPassword">{{'newMasterPass' | i18n}}</label>
                <input id="newMasterPassword" type="password" name="NewMasterPasswordHash" class="form-control" [(ngModel)]="newMasterPassword"
                    required>
            </div>
            <div class="form-group">
                <label for="confirmNewMasterPassword">{{'confirmNewMasterPass' | i18n}}</label>
                <input id="confirmNewMasterPassword" type="password" name="ConfirmNewMasterPasswordHash" class="form-control" [(ngModel)]="confirmNewMasterPassword"
                    required>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-submit" appBlurClick [disabled]="form.loading">
        <i class="fa fa-spinner fa-spin"></i>
        <span>{{'changeMasterPassword' | i18n}}</span>
    </button>
</form>
