<td>
  {{ sponsoringOrg.familySponsorshipFriendlyName }}
</td>
<td>{{ sponsoringOrg.name }}</td>
<td class="table-action-right">
  <app-table-row-option-menu [rowIndex]="sponsoringOrg.id">
    <button
      #resendEmailBtn
      [appApiAction]="resendEmailPromise"
      class="dropdown-item btn-submit"
      [disabled]="resendEmailBtn.loading"
      (click)="resendEmail()"
      [attr.aria-label]="'resendEmailLabel' | i18n: sponsoringOrg.familySponsorshipFriendlyName"
    >
      <i class="bwi bwi-spinner bwi-spin" title="{{ 'loading' | i18n }}" aria-hidden="true"></i>
      <span>{{ "resendEmail" | i18n }}</span>
    </button>
    <button
      #revokeSponsorshipBtn
      [appApiAction]="revokeSponsorshipPromise"
      class="dropdown-item text-danger btn-submit"
      [disabled]="revokeSponsorshipBtn.loading"
      (click)="revokeSponsorship()"
      [attr.aria-label]="'revokeAccount' | i18n: sponsoringOrg.familySponsorshipFriendlyName"
    >
      <i class="bwi bwi-spinner bwi-spin" title="{{ 'loading' | i18n }}" aria-hidden="true"></i>
      <span>{{ "remove" | i18n }}</span>
    </button>
  </app-table-row-option-menu>
</td>
