<div class="page-header">
    <h1>{{'sponsoredFamilies' | i18n}}</h1>
</div>
<p>
    {{'sponsoredFamiliesEligible' | i18n}}
</p>
<div>
    {{'sponsoredFamiliesInclude' | i18n}}:
    <ul class="inset-list">
        <li>{{'sponsoredFamiliesPremiumAccess' | i18n}}</li>
        <li>{{'sponsoredFamiliesSharedCollections' | i18n}}</li>
    </ul>
</div>
<form #form (ngSubmit)="submit()" [appApiAction]="formPromise" ngNativeValidate *ngIf="anyOrgsAvailable">
    <div *ngIf="moreThanOneOrgAvailable" class="form-group col-6">
        <label for="availableSponsorshipOrg">{{ 'sponsoredFamiliesSelectOffer' | i18n}}</label>
        <select id="availableSponsorshipOrg" name="Available Sponsorship Organization"
            [(ngModel)]="selectedSponsorshipOrgId" class="form-control" required>
            <option value="">-- {{'select' | i18n}} --</option>
            <option *ngFor="let o of availableSponsorshipOrgs" [ngValue]="o.id">{{o.name}}</option>
        </select>
        <small>{{'sponsoredFamiliesLeaveCopy' | i18n}}</small>
    </div>
    <div class="form-group col-6">
        <label for="accountEmail">{{'sponsoredFamiliesEmail' | i18n}}:</label>
        <input id="accountEmail" class="form-control"  inputmode="email" [(ngModel)]="sponsorshipEmail" name="sponsorshipEmail" required>
    </div>
    <div class="form-group col-6">
        <label for="friendlyName">{{'friendlyName' | i18n}}:</label>
        <input id="friendlyName" class="form-control"  [(ngModel)]="friendlyName" name="friendlyName" required>
        <button class="btn btn-primary mt-2" type="submit">{{'redeem' | i18n}}</button>
    </div>
</form>
<div *ngIf="anyActiveSponsorships">
    <table class="table table-hover table-list">
        <thead>
            <tr>
                <th>{{'redeemedAccount' | i18n}}</th>
                <th>{{'organization' | i18n}}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let o of activeSponsorshipOrgs">
                <td>
                    {{o.familySponsorshipFriendlyName}}
                </td>
                <td>{{o.name}}</td>
                <td class="table-action-right">
                    <button class="btn btn-outline-primary"
                        (click)="resendEmail(o)"
                        [attr.aria-label]="">Resend Email</button>
                    <button class="btn btn-outline-danger" 
                        (click)="removeSponsorship(o)" 
                        [attr.aria-label]="'removeAccount' | i18n : o.familySponsorshipFriendlyName">Remove</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
